@use '../../styles/mixins';
@use '../../styles/variables';

.categories {
  position: relative;
  background: variables.$gray-color;
  padding-bottom: 10px;

  &::before, &::after {
    content: '';
    position: absolute;
    top: -1px;
    width: 14px;
    height: 100%;

    @include mixins.rm(640) {
      width: 18px;
    }

    @include mixins.rm(768) {
      width: 20px;
    }

    @include mixins.rm(1024) {
      width: 24px;
    }
  }

  &::before {
    left: -1px;
    background: linear-gradient(to right, #0f0f0f 0%, rgba(34, 34, 34, 0) 100%);
  }

  &::after {
    right: -1px;
    background: linear-gradient(to left, #0f0f0f 0%, rgba(34, 34, 34, 0) 100%);
  }

  &.hidden {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  &__tabs {
    display: flex;
    //justify-content: center;
    flex-grow: 1;
    gap: 5px;
    padding-left: 14px;
    padding-right: 14px;

    @include mixins.rm(640) {
      padding-left: 18px;
      padding-right: 18px;
    }

    @include mixins.rm(768) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include mixins.rm(1024) {
      padding-left: 24px;
      padding-right: 24px;
    }

  }

  &__button {
    font-family: variables.$font-regular;
    font-size: 14px;
    flex-shrink: 0;
    color: #fff;
    background: variables.$gray-color;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 16px;

    @include mixins.rm(768) {
      font-size: 16px;
      padding: 16px 20px;
    }

    & span {
      pointer-events: none;
    }

    &.active {
      background: white;
      color: variables.$black-color;
    }
  }
}