$font-bold: 'Unbounded', sans-serif;
$font-italic: 'STIX Two Text', sans-serif;
$font-regular: 'e-Ukraine Head', sans-serif;

$black-color: #030601;
$gray-color: rgba(255, 255, 255, .04);

$shadow: #7d4d22;
$card-gradient-start: #fff6c8;
$card-gradient-end: #f5f5f5;

$error-red: #FF1E00;
$modal-gray: #5F5F5F;